@{
    Layout = null;
    ViewData["Title"] = "Esqueceu a senha";
}

<link rel="stylesheet" href="~/css/login.css">

<section>
    <h1>Esqueceu a senha?</h1>
    <form>
        <input required id="email" type="email" placeholder="E-mail">
        <button>Enviar</button>
    </form>
    <a class="backBtn" href="/">Voltar a página inicial</a>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/forgot.js"></script>