@{
    Layout = null;
    ViewData["Title"] = "Redefinir a senha";
}

<link rel="stylesheet" href="~/css/login.css">

<section>
    <h1>Redefinir a senha</h1>
    <form>
        <input required id="password" type="password" placeholder="Senha">
        <input required id="confirmPassword" type="password" placeholder="Confirmar senha">
        <div class="error">
            <span hidden>Senhas diferentes</span> 
        </div>
        <button>Enviar</button>
    </form>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/reset.js"></script>