@{
    Layout = null;
    ViewData["Title"] = "Criar conta";
}

<link rel="stylesheet" href="~/css/login.css">

<section>
    <h1>Crie sua conta!</h1>
    <form>
        <input placeholder="Username" />
        <input placeholder="E-mail" />
        <input placeholder="Senha" />
        <input placeholder="Confirmação de senha" />
        <button>Criar</button>
    </form>
</section>