section {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: 150px auto;
    background-color: #d5d1d183;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

form a {
    text-align: right;
}

input {
    margin-top: 20px;
}

button {
    margin: 10px 0 20px 0;
    background-color: #7dc87d;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: #6fec6f;
}

label {
    margin-bottom: 30px;
}

.error {
    height: 20px; 
}

.error span {
    color: red
}

a {
    text-decoration: none;
}

.emailPswError {
    color: red;
    margin: 5px 0 0 0;
    display: none;
}

.backBtn {
    margin: 0 0 10px 0;
}